<!-- include head -->

<%- include('includes/_head') %>

<!-- end include head -->

<body class="container">
  <h1>Appheart</h1>
  <div class="">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Solutions</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</body>

<!-- include footer -->

<%- include('includes/_footer') %>

<!-- end include footer -->
